/.gradle/
/build/
/.settings/
/.idea/
/client/.settings/
/client/build/
/client/bin/
/client/gradlew
/client/gradlew.bat
/server/bin/
/server/build/
/server/gradlew
/server/gradlew.bat
/shared/.settings/
/shared/bin/
/shared/build/
/shared/gradlew
/shared/gradlew.bat
/client/build/tmp/
/server/build/tmp/
/shared/build/tmp/
