/.gradle/
/build/
/.settings/
/.idea/
/client/.settings/
/client/build/
/client/bin/
/client/.classpath
/client/.project
/client/gradlew
/client/gradlew.bat
/server/
/server/.settings/
/server/bin/
/server/build/
/server/.classpath
/server/.project
/server/gradlew
/server/gradlew.bat
/shared/
/shared/.settings/
/shared/bin/
/shared/build/
/shared/.classpath
/shared/.project
/shared/gradlew
/shared/gradlew.bat
